body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
}

section {
    padding: 20px;
}

.player, .player-profile, .match {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

textarea {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#vote-section ul {
    list-style-type: none;
    padding: 0;
}

#vote-section li {
    margin-bottom: 10px;
}

#vote-section button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#vote-section button:hover {
    background-color: #218838;
}
